.inputToDoList {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 100px;
}

.inputToDoList input {
    margin-left: 10px;
}

.listToDoList {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: flex-start;
}    

.btnSave {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    margin-left: 105px;
    height: 49px;
    width: 130px;
}

@media (min-width: 500px) {
    .inputToDoList {
        flex-direction: row;
        justify-content: center;
    }
    
    .listToDoList {
        flex-direction: column;
        margin: auto; 
        margin-top: 30px;
        width: 36%;
    }    

    .btnSave {
        cursor: pointer;
        height: 49px;
        width: 130px;
    }    
}